In [1]:
from getpass import getpass
from mysql.connector import connect, Error
import pandas as pd

In [2]:
try:
    with connect(
        host="198.102.4.55",
        port = "3307",
        user="srdemo003",
        password=getpass("Enter password: "),
    ) as connection:
        get_col_query = "SHOW COLUMNS FROM srtrade009.msgsrparentexecution"
        read_db_query = "SELECT * FROM srtrade009.msgsrparentexecution WHERE accnt = 'T.SRDEMO003'"
        #read_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(get_col_query)
            cols = [c[0] for c in cursor.fetchall()]
            cursor.execute(read_db_query)
            results = pd.DataFrame(cursor.fetchall(), columns=cols)
except Error as e:
    print(e)

Enter password: ········

In [4]:
results.head(10)

,fillNumber,runStatus,sysEnvironment,dataCenter,date,date_us,version,clOrdId,parentNumber,packageId,...,liveMark,liveUPrc,pendMark,pendUPrc,trdMarkError,dayMarkError,userData1,userData2,timestamp,timestamp_us
0,784782218558172452,None,None,None,2021-01-25,0,1,0AE41B451333ED19,1136625940034889922,1055531769768939528,...,110.609810,3857.190918,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:19:44,759553
1,784782218558172472,None,None,None,2021-01-25,0,1,0AE41B451333ED31,1136625940034889922,1055531769768939528,...,110.609810,3857.190918,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:19:44,759553
2,784782218558194993,None,None,None,2021-01-25,0,1,0AE41B451334452A,1136625940034889922,1055531769768939528,...,110.507912,3856.983154,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:03,492677
3,784782218558195011,None,None,None,2021-01-25,0,1,0AE41B451334453C,1136625940034889922,1055531769768939528,...,110.507912,3856.983154,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:03,492677
4,784782218558198633,None,None,None,2021-01-25,0,1,0AE41B451334535C,1136625940034889922,1055531769768939528,...,110.604362,3856.982910,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:05,951016
5,784782218558198658,None,None,None,2021-01-25,0,1,0AE41B451334537B,1136625940034889922,1055531769768939528,...,110.604362,3856.982910,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:05,951016
6,784782218558198871,None,None,None,2021-01-25,0,1,0AE41B4513345450,1136625940034889922,1055531769768939528,...,110.590164,3856.982910,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:06,50116
7,784782218558198882,None,None,None,2021-01-25,0,1,0AE41B451334545B,1136625940034889922,1055531769768939528,...,110.590164,3856.982910,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:06,149215
8,784782218558198943,None,None,None,2021-01-25,0,1,0AE41B4513345498,1136625940034889922,1055531769768939528,...,110.590164,3856.982910,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:06,149215
9,784782218558198969,None,None,None,2021-01-25,0,1,0AE41B45133454B1,1136625940034889922,1055531769768939528,...,110.590164,3856.982910,0.0,0.0,OK,OK,AUTODD=1,,2021-01-25 09:20:06,149215